.let {
    color: blue;
}

.list {
    .item {
        color: orangered;
        &:after {
            content: ', ';
            color: #000000;
        }
        &:last-child:after {
            content: '';
            color: #000000;
        }
    }
}

.code-wrapper {
    .code-header {
        width: 100%;
        background-color: #2b2b2b;
        color: #FFFFFF;
        padding: 10px;
        overflow: hidden;
        h3 {
            font-size: 20px;
            margin: 0;
        }
    }
    .code-body {
        display: block;
        padding: 9.5px;
        margin: 0 0 10px;
        font-size: 16px;
        line-height: 1.42857143;
        background-color: rgb(239, 239, 239);
        border: 1px solid #ccc;
        position: relative;
        &.cmd {
            background-color: rgba(0, 0, 0, 0.85);
            p {
                color: #ccc;
            }
        }
        .side-bar {
            width: 30px;
            display: block;
            background-color: rgba(0, 0, 0, 0.1);
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            height: 100%;
        }
        ol {
            list-style-type: none;
            counter-reset: item;
            margin: 0;
            padding: 0;
            -webkit-margin-after: 10px;
            position: relative;
            z-index: 1;
            li {
                display: table;
                counter-increment: item;
                font-size: 18px;
                margin: 10px 0;
                &:before {
                    color: blueviolet;
                    content: counters(item, "") " ";
                    display: table-cell;
                    padding-right: 1.5em;
                }
            }
        }
    }
}

.comment {
    font-size: 16px;
    color: forestgreen;
    &:before {
        content: "<!-- ";
    }
    &:after {
        content: " -->";
    }
}

.tag,
.blue {
    color: royalblue;
}

.light-blue {
    color: lightblue;
}

.yellow {
    color: yellow;
}

.purple {
    color: blueviolet;
}

.green {
    color: forestgreen;
    a {
        color: darkred;
    }
}

.seperator {
    height: 20px;
}

.underline {
    margin: 10px 0;
}

.tab {
    padding: 0 40px;
    display: table-cell;
    @media (max-width: 992px) {
        padding: 0 20px;
    }
}

.code {
    color: #c7254e;
    background-color: #f9f2f4;
}
