.work-page {
    .row {
        [class*="col-"] {
            margin-bottom: 25px;
        }
    }
    .function {
        position: relative;
        &.bold {
            font-weight: 700;
        }
        &::after {
            content: '();';
            opacity: 0;
            transition: all .2s ease-in-out;
        }
        &:hover {
            &::after {
                opacity: 1;
            }
        }
    }
}
