.footer {
    border-top: 1px solid #a1a1a1;
    background: #2b2b2b;
    color: #FFFFFF !important;
    padding: 10px 0;
    width: 100%;
    height: 55px;
    position: absolute;
    bottom: 0;
    left: 0;
}
