.navbar {
  margin-bottom: 0 !important;
  background-color: #313131 !important;
  padding: 10px 0;
  border: 0;
}

.navbar-brand {
  font-size: 20px;
  letter-spacing: -2px;
  color: white !important;
}
