@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,500|Roboto:400');
@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css');
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-style: normal;
  font-weight: 300;
  position: relative;
  background-color: #1E1E1E;
  color: #ceced4;
}

a,
a:visited,
a:hover,
a:focus {
  text-decoration: none;
}

a {
  color: #007ACC;
  &:hover,
  &.current {
    color: #288FD3;
  }
}

.uppercase {
  text-transform: uppercase;
}

.no-margin {
  margin: 0;
}

.no-padding {
  padding: 0;
}

.title,
.variable {
  color: #00c2d3;
}

.tag {
  color: #444DCC;
}

ul,
ol {
  list-style: none;
  &.bullet {
    list-style: initial;
    margin-left: 39px;
  }
}

p {
  font-size: 18px;
}

#root {
  min-height: 100%;
  position: relative;
  padding-bottom: 60px;
  .main {
    min-height: 100%;
  }
}

h1,
h2,
h3,
h4,
h5,
p {
  font-family: "Roboto Mono", serif !important;
  font-weight: 100;
  margin-top: 5px;
}

.margin-top {
  margin-top: 25px;
}

.text-center {
  text-align: center;
}

.js-comment {
  font-size: 16px;
  color: #5A804A;
  &:before {
    content: "<!-- ";
  }
  &:after {
    content: " -->";
  }
}

.css-comment {
  font-size: 16px;
  color: #5A804A;
  &:before {
    content: "/* ";
  }
  &:after {
    content: " */";
  }
}

.title {
  margin-bottom: 15px;
  &:before {
    content: "{ ";
  }
  &:after {
    content: " }";
  }
}

.code-link:hover {
  padding-bottom: 1px;
  border-bottom: 1px solid #ca363e;
}

.red {
  color: #ca363e;
}

.interface {
  color: #46ae7d;
}

.string {
  color: #ce825b;
}

.return {
  color: #b43896;
}

.main {
  margin-bottom: 50px;
}

a.function {
  position: relative;
  &.bold {
    font-weight: 700;
  }
  &::after {
    content: '();';
    opacity: 0;
    transition: all .2s ease-in-out;
  }
  &:hover {
    &::after {
      opacity: 1;
    }
  }
}

.border-top {
  border-top: 2px dashed #ceced4 !important;
}

.border-bottom {
  border-bottom: 2px dashed #ceced4;
  &:last-child {
    border-bottom-width: 0;
  }
}

.col-md-6:nth-child(2n+1) {
  clear: left;
}
