.home {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  .css-comment {
    margin-bottom: 35px;
  }

  .js {
    color: #efda50;
  }

  .html {
    color: #e34f26;
  }

  .css {
    color: #4271cf;
  }

  .drupal {
    color: #81ceff;
  }
}

@media (max-width: 768px) {
  .home {
    position: relative;
    transform: none;
    top: auto;
    left: auto;
    margin: 30px 0;
  }
}
