:root {
  --brass: #ce825b;
  --cerulean: #00bcf2;
  --cinnabar: #e34f26;
  --cod-grey: #1e1e1e;
  --comment: #5a804a;
  --deep-cerulean: #0ba7d3;
  --dull-lavender: #9a86e8;
  --egg-blue: #00c2d3;
  --ghost: #ceced4;
  --indigo: #4271cf;
  --ocean-green: #46ae7d;
  --outer-space: #2b2c2c;
  --red-violet: #b43896;
  --ronchi: #efda50;
}
