:root {
  /* font sizing */
  --font-s: 1.3rem;
  --font-m: 1.8rem;
  --font-l: 2.1rem;
  --font-xl: 2.4rem;

  /* line height */
  --line-height: 1.5;

  /* font family */
  --font-family: 'Roboto Mono', monospace;
}
